{% extends 'base.html' %}


{% block head %}
<title>Plasma Donor Application</title>
    {% endblock %}

<body>

    {% block body %}
    <h1 class="home">
    Welcome to my home page
    </h1>
   
   <br><br>
    <h1>Abstract:</h1><h3><em>->Plasma is the largest single component of blood. It mostly consists of water, but also contains vital proteins and other substances that are essential for the correct functioning of blood.    Plasma, also known as blood plasma, is the straw-colored liquid part of blood. It is the largest single component of blood, making up roughly 55%.     Plasma itself consists of 92% water. Vital proteins involved in many functions such as blood clotting, fighting infections, and transporting substances make up 7% of plasma. The remaining 1% contains mineral salts, sugars, fats, hormones, and vitamins.

<br>
     <b> Plasma Donor Responsibilities:</b><br>
    ->Plasma donors should be at least 18 years old.<br>
    ->Plasma donors should weigh at least 110 pounds or 50 kilograms.<br>
    ->Must pass a medical examination.<br>
    ->Complete an extensive medical history screening.<br>
    ->Test non-reactive for transmissible viruses including hepatitis and HIV.<br>
    ->Follow a recommended diet including 50 to 80 grams of daily protein. </em></h3>
   {% endblock %}
</body>
</html>